<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Rajanpreet Singh  |</a></li>
        <li class="nav-item"><a class="nav-link" href="/AmarjitK">  Amarjit Kaur  |</a></li>
        <li class="nav-item"><a class="nav-link" href="/BaldevS">  Baldev Singh  |</a></li>
        <li class="nav-item"><a class="nav-link" href="/AnmolS">  Anmol Singh</a></li>
    </ul>
</nav>

</body>
</html>